@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9731 0 0);
  --foreground: oklch(0.2264 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2264 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2264 0 0);
  --primary: oklch(0.5428 0.2222 267.8604);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8761 0 0);
  --secondary-foreground: oklch(0.2264 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.5624 0 0);
  --accent: oklch(0.2487 0.0828 259.7554);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9551 0 0);
  --ring: oklch(0.5428 0.2222 267.8604);
  --chart-1: oklch(0.5428 0.2222 267.8604);
  --chart-2: oklch(0.6731 0.1624 144.2083);
  --chart-3: oklch(0.8442 0.1722 84.9338);
  --chart-4: oklch(0.6792 0.2128 36.5324);
  --chart-5: oklch(0.5168 0.2151 321.2386);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2264 0 0);
  --sidebar-primary: oklch(0.5428 0.2222 267.8604);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2487 0.0828 259.7554);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.5428 0.2222 267.8604);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2178 0 0);
  --foreground: oklch(0.9189 0 0);
  --card: oklch(0.2520 0 0);
  --card-foreground: oklch(0.9189 0 0);
  --popover: oklch(0.2520 0 0);
  --popover-foreground: oklch(0.9189 0 0);
  --primary: oklch(0.5428 0.2222 267.8604);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3211 0 0);
  --secondary-foreground: oklch(0.9189 0 0);
  --muted: oklch(0.2891 0 0);
  --muted-foreground: oklch(0.7380 0 0);
  --accent: oklch(0.2487 0.0828 259.7554);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3600 0 0);
  --input: oklch(0.2891 0 0);
  --ring: oklch(0.5428 0.2222 267.8604);
  --chart-1: oklch(0.5428 0.2222 267.8604);
  --chart-2: oklch(0.7185 0.1417 144.8887);
  --chart-3: oklch(0.8859 0.1539 91.2298);
  --chart-4: oklch(0.7546 0.1512 38.2575);
  --chart-5: oklch(0.7437 0.1161 321.5502);
  --sidebar: oklch(0.2520 0 0);
  --sidebar-foreground: oklch(0.9189 0 0);
  --sidebar-primary: oklch(0.5428 0.2222 267.8604);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2487 0.0828 259.7554);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3600 0 0);
  --sidebar-ring: oklch(0.5428 0.2222 267.8604);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.25;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.25), 0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.25), 0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.25), 0px 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.25), 0px 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25), 0px 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.63);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}